<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/style.css">
	<title>Statistics</title>
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<h2>General header</h2>
		</header>
		<main class="main">
			<div class="bread-crubs">
				<div class="bread-crubs__main">Главная</div>
				<div class="bread-crubs__divide">&#8658;</div>
				<div class="bread-crubs__actual">Статистика</div>
			</div>
			<div class="statistics">
				<div class="statistics__tabs tabs-statistics">
					<input class="tabs-statistics__input" type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
					<label class="tabs-statistics__label tabs-statistics__label--words" for="tab-btn-1">Слова</label>
					<input class="tabs-statistics__input" type="radio" name="tab-btn" id="tab-btn-2" value="">
					<label class="tabs-statistics__label tabs-statistics__label--sprint" for="tab-btn-2">Спринт</label>
					<input class="tabs-statistics__input" type="radio" name="tab-btn" id="tab-btn-3" value="">
					<label class="tabs-statistics__label tabs-statistics__label--audio-call" for="tab-btn-3">Аудиовызов</label>
					<div class="tabs-statistics__body" id="content-1">
						<div class="tabs-statistics__item">Количество новых слов за день: <span class="tabs-statistics__new-words"></span></div>
						<div class="tabs-statistics__item">Количество изученных слов за день: <span class="tabs-statistics__general-words"></span></div>
						<div class="tabs-statistics__item">Процент правильных ответов за день: <span class="tabs-statistics__right-answers"></span>%</div>
					</div>
					<div class="tabs-statistics__body" id="content-2">
						<div class="tabs-statistics__item">Количество новых слов за день: <span class="tabs-statistics__new-words-sprint"></span></div>
						<div class="tabs-statistics__item">Процент правильных ответов: <span class="tabs-statistics__right-answers-sprint"></span>%</div>
						<div class="tabs-statistics__item">Самая длинная серия правильных ответов: <span class="tabs-statistics__series-lenght-sprint"></span></div>
					</div>
					<div class="tabs-statistics__body" id="content-3">
            <div class="tabs-statistics__item">Количество новых слов за день: <span class="tabs-statistics__new-words-audio-call"></span></div>
						<div class="tabs-statistics__item">Процент правильных ответов: <span class="tabs-statistics__right-answers-audio-call"></span>%</div>
						<div class="tabs-statistics__item">Самая длинная серия правильных ответов: <span class="tabs-statistics__series-lenght-audio-call"></span></div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<h2>General footer</h2>
		</footer>
	</div>
</body>
</html>