<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/style.css">
	<title>Auth</title>
</head>
<body>
  <div class="wrapper">
    <header id="header" class="header">
      <h2>General header</h2>
			<a href="#auth" class="header__auth">Auth</a>
    </header>
    <main class="main">
      <div id="auth" class="auth">
				<a href="#header" class="auth__area"></a>
				<div class="auth__body">
					<div class="auth__content">
						<a href="#header" class="auth__close">&times;</a>
						<div class="auth__title">Вход в аккаунт</div>
						<div class="auth__text">Для авторизированных пользователей доступны "Сложные слова", прогресс изучения слов, изученные слова и статистика</div>
						<form class="auth__form form-auth" id="form" action="#">
							<input class="form-auth__email" name="email" type="email" placeholder="Электронная почта" required autofocus autocomplete="off">
							<input class="form-auth__password" name="password" type="password" placeholder="Пароль" required minlength="5">
							<button class="form-auth__button" type="submit">Войти</button>
							<div class="form-auth__bottom">
								<div class="form-auth__forget-password">
									<a class="form-auth__forget-password-link" href="#">Забыли пароль?</a>
								</div>
								<div class="form-auth__break">&#124;</div>
								<div class="form-auth__registration">
									<a class="form-auth__registration-link" href="#">Регистрация</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
    </main>
    <footer class="footer">
      <h2>General footer</h2>
    </footer>
    </div>
</body>
</html>