@-webkit-keyframes pulsing1 {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(10%);
  }
}
@keyframes pulsing1 {
  0% {
    transform: translateY(10%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(10%);
  }
}
.footer {
  background-color: #F95A2C;
}
.footer__content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 13px;
  font-weight: normal;
  color: white;
  gap: 15px;
}
@media screen and (max-width: 767px) {
  .footer__content {
    flex-direction: column-reverse;
  }
}
.footer__logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(289deg) brightness(103%) contrast(102%);
}
@media screen and (max-width: 767px) {
  .footer__logo {
    order: 2;
  }
}
.footer__date {
  font-weight: 800;
}

.logo {
  width: 100px;
}

.social-links {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .social-links {
    order: 1;
  }
}

.social-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  gap: 5px;
}
.social-link__title {
  color: white;
}
.social-link__img {
  -webkit-animation: pulsing1 2s infinite;
          animation: pulsing1 2s infinite;
  width: 35px;
  height: 35px;
}
.social-link:visited {
  color: white;
  text-decoration: none;
}