body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #323232;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img,
svg {
  display: block;
}