<main class="main">
  <div class="hero">
    <div class="hero-content">
      <div class="hero-content__left left-content">
        <h1 class="left-content__title">Всё еще учишь английский по книгам?</h1>
        <p class="left-content__text">
          Команда <span>RSLang</span> позаботилась о том, чтобы твое обучение происходило максимально комфортно и
          интерактивно!
        </p>
        <p class="left-content__text">Здесь ты найдешь всё, что тебе нужно для эффективной учебы:</p>
        <ul class="left-content__list advantages-list">
          <li class="advantages-list__item"><small>Учебник с озвучкой, транскрипцией и примерами</small></li>
          <li class="advantages-list__item"><small>Игра "Спринт" для изучения слов</small></li>
          <li class="advantages-list__item"><small>Игра "Аудиовызов" для тренировки восприятия на слух</small></li>
          <li class="advantages-list__item"><small>Статистика, чтобы фиксировать свой прогресс</small></li>
        </ul>
      </div>
      <div class="hero-content__right right-content">
        <div class="right-content__minuses">
          <img class="right-content__image" src="{{libraryIcon}}" alt="library">
          <img class="right-content__image not-okay" src="{{cancelIcon}}" alt="not_ok">
        </div>
        <div class="right-content__pluses">
          <img class="right-content__image" src="{{graphIcon}}" alt="graph">
          <img class="right-content__image okay" src="{{doneIcon}}" alt="ok">
        </div>
      </div>
    </div>
  </div>
  <div class="registration">
    <h3 class="registration__title">Присоединяйся к сообществу людей, что перешли на новый уровень обучения с
      <span>RSLang</span>
    </h3>
    <button type="button" class="registration__button">Регистрация</button>
    <img class="registration__image" src="{{peopleIcon}}" alt="people">
  </div>
</main>