* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: Montserrat, sans-serif;
}

.wordsbook {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.wordsbook__h1 {
  margin-bottom: 40px;
}

.wordsbook-levels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 40px;
}

.wordsbook-levels__input {
  display: none;
}

.wordsbook-levels__label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: inherit;
}

.wordsbook-levels__button {
  background-color: #FFBD12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 16px;
  height: 70px;
  width: 210px;
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wordsbook-levels__button:hover {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.wordsbook-levels__button_active {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.wordsbook-levels__input:checked ~ .wordsbook-levels__button {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.wordsbook-levels__name {
  font-size: 20px;
  font-weight: 700;
}

.wordsbook-levels__level-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wordsbook-levels__level {
  font-weight: 700;
  font-size: 34px;
}

.wordsbook-words-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

@media (max-width: 620px) {
  .wordsbook-words-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wordsbook-words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

@media (max-width: 620px) {
  .wordsbook-words {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wordsbook-words__radiobutton {
  display: none;
}

.wordsbook-words__label {
  cursor: pointer;
}

.wordsbook-words__word-wrapper {
  background-color: #E9E7FC;
  padding-left: 25px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 17px;
  border-radius: 8px;
  width: 180px;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.wordsbook-words__word-wrapper_difficult::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: #000;
  right: -9px;
  bottom: -9px;
  border-radius: 50%;
  opacity: 0.5;
}

.wordsbook-words__word-wrapper_learned::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: #1947E6;
  right: -9px;
  bottom: -9px;
  border-radius: 50%;
  opacity: 0.5;
}

.wordsbook-words__radiobutton:checked ~ .wordsbook-words__word-wrapper {
  background-color: #ffbd12;
}

.wordsbook-description {
  background-color: #E9E7FC;
  border-radius: 8px;
  max-height: 800px;
}

@media (max-width: 620px) {
  .wordsbook-description {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 390px;
    margin: auto;
    margin-bottom: 15px;
  }
}

.wordsbook-description__img {
  width: 390px;
  margin-bottom: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

@media (max-width: 420px) {
  .wordsbook-description__img {
    width: 100%;
  }
}

.wordsbook-description__text-wrapper {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

.wordsbook-description__h2 {
  font-weight: 700;
  margin-bottom: 10px;
}

.wordsbook-description__h3 {
  margin-bottom: 10px;
}

.wordsbook-description__transcription-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.wordsbook-description__transcription {
  font-weight: 700;
}

.wordsbook-description__transcription-play {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wordsbook-description__transcription-svg {
  width: 20px;
}

.wordsbook-description__buttons-container {
  margin-bottom: 15px;
}

.wordsbook-description__button {
  border: none;
  outline: none;
  background-color: #ffbd12;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.wordsbook-description__meaning {
  margin-bottom: 15px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.pagination__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.pagination__button:hover {
  background-color: #FFBD12;
}

.pagination__button_active {
  background-color: #FFBD12;
}

.wordsbook-games__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.wordsbook-games__game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #FFBD12;
  border-radius: 16px;
  cursor: pointer;
  padding: 16px;
}

.wordsbook-games__button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.wordsbook-games__img {
  width: 40px;
}

.wordsbook-games__right {
  font-weight: 700;
  font-size: 25px;
}
/*# sourceMappingURL=style.css.map */