<div class="team-page__container">
  <h2 class="team-page__header">О команде</h2>
  <div class="team-page__cards">
    <div class="team-page__card card-team">
      <img class="card-team__img" src="{{maximPhoto}}" alt="maksim_photo">
      <h4 class="card-team__name">Максим</h4>
      <a class="card-team__github github-card-team" href="https://github.com/freenokke">
        <img class="github-card-team__img" src="{{githubIcon}}" alt="Github-img">
        <span>freenokke</span>
      </a>
      <h6 class="card-team__role">Тимлид, разработчик</h6>
      <ol class="card-team__result result-card-team">
        <li class="card-team-result__done">Верстка: главная страница, header, footer, бургер-меню, игра "Спринт"</li>
        <li class="card-team-result__done">Логика: запросы к серверу, регистрация/авторизация, игра "Аудиовызов", статистика</li>
      </ol>
    </div>
    <div class="team-page__card card-team">
      <img class="card-team__img" src="{{artemPhoto}}" alt="artem_photo">
      <h4 class="card-team__name">Артем</h4>
      <a class="card-team__github github-card-team" href="https://github.com/spherical-horse">
        <img class="github-card-team__img" src="{{githubIcon}}" alt="Github-img">
        <span>spherical-horse</span>
      </a>
      <h6 class="card-team__role">Разработчик</h6>
      <ol class="card-team__result result-card-team">
        <li class="card-team-result__done">Верстка: Учебник, игра "Аудиовызов", результат игры</li>
        <li class="card-team-result__done">Логика: Учебник</li>
      </ol>
    </div>
    <div class="team-page__card card-team">
      <img class="card-team__img" src="{{janPhoto}}" alt="jan_photo">
      <h4 class="card-team__name">Ян</h4>
      <a class="card-team__github github-card-team" href="https://github.com/janChorny">
        <img class="github-card-team__img" src="{{githubIcon}}" alt="Github-img">
        <span>janChorny</span>
      </a>
      <h6 class="card-team__role">Разработчик</h6>
      <ol class="card-team__result result-card-team">
        <li class="card-team-result__done">Верстка: правила, о команде, авторизация / регистрация, страница выбора игр, страница статистики</li>
        <li class="card-team-result__done">Логика: игра "Спринт"</li>
      </ol>
    </div>
  </div>
</div>