<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="normalize.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script defer src="./index.js"></script>
  <title>Wordsbook Cards</title>
</head>

<body>
  <header class="header">
    GENERAL HEADER
  </header>
  <main class="main">
    <div class="wordsbook">
      <h1 class="wordsbook__h1">
        Учебник
      </h1>
      <div class="wordsbook-levels">
        <label class="wordsbook-levels__label">
          <input class="wordsbook-levels__input" checked type="radio" name="level">
          <div class="wordsbook-levels__button">
            <div class="wordsbook-levels__wrapper">
              <h2 class="wordsbook-levels__name">Easy</h2>
              <p class="wordsbook-levels__description">1 - 600</p>
            </div>
            <div class="wordsbook-levels__level-wrapper">
              <h2 class="wordsbook-levels__level">A1</h2>
            </div>
          </div>
        </label>
        <label class="wordsbook-levels__label">
          <input class="wordsbook-levels__input" type="radio" name="level">
          <div class="wordsbook-levels__button">
            <div class="wordsbook-levels__wrapper">
              <h2 class="wordsbook-levels__name">Easy</h2>
              <p class="wordsbook-levels__description">601-1200</p>
            </div>
            <div class="wordsbook-levels__level-wrapper">
              <h2 class="wordsbook-levels__level">A2</h2>
            </div>
          </div>
        </label>
        <label class="wordsbook-levels__label">
          <input class="wordsbook-levels__input" type="radio" name="level">
          <div class="wordsbook-levels__button">
            <div class="wordsbook-levels__wrapper">
              <h2 class="wordsbook-levels__name">Medium</h2>
              <p class="wordsbook-levels__description">1201-1800</p>
            </div>
            <div class="wordsbook-levels__level-wrapper">
              <h2 class="wordsbook-levels__level">B1</h2>
            </div>
          </div>
        </label>
        <label class="wordsbook-levels__label">
          <input class="wordsbook-levels__input" type="radio" name="level">
          <div class="wordsbook-levels__button">
            <div class="wordsbook-levels__wrapper">
              <h2 class="wordsbook-levels__name">Medium</h2>
              <p class="wordsbook-levels__description">1801-2400</p>
            </div>
            <div class="wordsbook-levels__level-wrapper">
              <h2 class="wordsbook-levels__level">B2</h2>
            </div>
          </div>
        </label>
        <label class="wordsbook-levels__label">
          <input class="wordsbook-levels__input" type="radio" name="level">
          <div class="wordsbook-levels__button">
            <div class="wordsbook-levels__wrapper">
              <h2 class="wordsbook-levels__name">Hard</h2>
              <p class="wordsbook-levels__description">2401-3000</p>
            </div>
            <div class="wordsbook-levels__level-wrapper">
              <h2 class="wordsbook-levels__level">C1</h2>
            </div>
          </div>
        </label>
        <label class="wordsbook-levels__label">
          <input class="wordsbook-levels__input" type="radio" name="level">
          <div class="wordsbook-levels__button">
            <div class="wordsbook-levels__wrapper">
              <h2 class="wordsbook-levels__name">Hard</h2>
              <p class="wordsbook-levels__description">3001-3600</p>
            </div>
            <div class="wordsbook-levels__level-wrapper">
              <h2 class="wordsbook-levels__level">C2</h2>
            </div>
          </div>
        </label>
        <label class="wordsbook-levels__label">
          <input class="wordsbook-levels__input" type="radio" name="level">
          <div class="wordsbook-levels__button">
            <div class="wordsbook-levels__wrapper">
              <h2 class="wordsbook-levels__name">Custom</h2>
              <p class="wordsbook-levels__description">Сложные слова</p>
            </div>
            <div class="wordsbook-levels__level-wrapper">
              <!-- <h2 class="wordsbook-levels__level">B2</h2> -->
            </div>
          </div>
        </label>
      </div>
      <div class="wordsbook-words-wrapper">
        <div class="wordsbook-words">
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" checked type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper wordsbook-words__word-wrapper_difficult">
              <h3 class="wordsbook-words__h3">
                diffucult
              </h3>
              <p class="wordsbook-words__translation">
                сложный
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper wordsbook-words__word-wrapper_learned">
              <h3 class="wordsbook-words__h3">
                learned
              </h3>
              <p class="wordsbook-words__translation">
                изученный
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
          <label class="wordsbook-words__label">
            <input class="wordsbook-words__radiobutton" type="radio" name="word">
            <div class="wordsbook-words__word-wrapper">
              <h3 class="wordsbook-words__h3">
                capital
              </h3>
              <p class="wordsbook-words__translation">
                столица
              </p>
            </div>
          </label>
        </div>
        <div class="wordsbook-description">
          <img class="wordsbook-description__img" src="./img/01_0008.jpg" alt="capital">
          <div class="wordsbook-description__text-wrapper">
            <h2 class="wordsbook-description__h2">capital</h2>
            <h3 class="wordsbook-description__h3">столица</h3>
            <div class="wordsbook-description__transcription-container">
              <span class="wordsbook-description__transcription">
                [kæpətl]
              </span>
              <button class="wordsbook-description__transcription-play">
                <svg class="wordsbook-description__transcription-svg" focusable="false" viewBox="0 0 24 24"
                  aria-hidden="true">
                  <path
                    d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z">
                  </path>
                </svg>
              </button>
            </div>
            <div class="wordsbook-description__buttons-container">
              <button class="wordsbook-description__button">В сложные</button>
              <button class="wordsbook-description__button">В изученные</button>
            </div>
            <div class="wordsbook-description__meaning">
              <h3 class="wordsbook-description__h3">
                Значение
              </h3>
              <p>A <em>capital</em> is a city where a country’s government is based.</p>
              <p>Столица - это город, в котором базируется правительство страны</p>
            </div>
            <div class="wordsbook-description__example">
              <h3 class="wordsbook-description__h3">
                Пример
              </h3>
              <p>The <strong>capital</strong> of the United States is Washington, D.C.</p>
              <p>Столица Соединенных Штатов - Вашингтон, округ Колумбия</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="pagination">
        <ul class="pagination__ul">
          <li class="pagination__li">
            <button class="pagination__button">&lt;</button>
          </li>
          <li class="pagination__li">
            <button class="pagination__button">1</button>
          </li>
          <li class="pagination__li">...</li>
          <li class="pagination__li">
            <button class="pagination__button">4</button>
          </li>
          <li class="pagination__li">
            <button class="pagination__button pagination__button_active">5</button>
          </li>
          <li class="pagination__li">
            <button class="pagination__button">6</button>
          </li>
          <li class="pagination__li">...</li>
          <li class="pagination__li">
            <button class="pagination__button">30</button>
          </li>
          <li class="pagination__li">
            <button class="pagination__button">&gt;</button>
          </li>
        </ul>
      </nav>
      <div class="wordsbook-games">
        <h2 class="wordsbook__h1">Игры</h2>
        <div class="wordsbook-games__wrapper">
          <div class="wordsbook-games__game">
            <div class="wordsbook-games__left">
              <button class="wordsbook-games__button">
                <img class="wordsbook-games__img" src="./img/headphones-no-bg.png" alt="аудиовызов">
              </button>
            </div>
            <div class="wordsbook-games__right">
              Аудиовызов
            </div>
          </div>
          <div class="wordsbook-games__game">
            <div class="wordsbook-games__left">
              <button class="wordsbook-games__button">
                <img class="wordsbook-games__img" src="./img/cheetah-no-bg.png" alt="Спринт">
              </button>
            </div>
            <div class="wordsbook-games__right">
              Спринт
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    GENERAL FOOTER
  </footer>
</body>

</html>