<div class="main">
	<div class="games">
		<div class="games__sprint sprint-games">
			<div class="sprint-games__complexity complexity-menu complexity-menu_left">
				<div class="complexity-menu__trigger trigger">
					<div class="trigger__text">Выбери уровень</div>
					<svg class="trigger__icon" width="10" height="16" viewBox="0 0 10 16" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path d="M2 14L8 8L2 2" stroke="#18191F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="complexity-menu__menu level-selection">
					<div class="level-selection__level a1">
						<input class="level-selection__input" type="radio" id="sprint_A1" name="sprint-level-input" checked>
						<label class="level-selection__label" for="sprint_A1">A1 <span
								class="level-selection__subtitle">Beginner</span></label>
					</div>
					<div class="level-selection__level a2">
						<input class="level-selection__input" type="radio" id="sprint_A2" name="sprint-level-input">
						<label class="level-selection__label" for="sprint_A2">A2 <span
								class="level-selection__subtitle">Elementary</span></label>
					</div>
					<div class="level-selection__level b1">
						<input class="level-selection__input" type="radio" id="sprint_B1" name="sprint-level-input">
						<label class="level-selection__label" for="sprint_B1">B1 <span
								class="level-selection__subtitle">Intermediate</span></label>
					</div>
					<div class="level-selection__level b2">
						<input class="level-selection__input" type="radio" id="sprint_B2" name="sprint-level-input">
						<label class="level-selection__label" for="sprint_B2">B2 <span
								class="level-selection__subtitle">Upper-Intermediate</span></label>
					</div>
					<div class="level-selection__level c1">
						<input class="level-selection__input" type="radio" id="sprint_C1" name="sprint-level-input">
						<label class="level-selection__label" for="sprint_C1">C1 <span
								class="level-selection__subtitle">Advanced</span></label>
					</div>
					<div class="level-selection__level c2">
						<input class="level-selection__input" type="radio" id="sprint_C2" name="sprint-level-input">
						<label class="level-selection__label" for="sprint_C2">C2 <span
								class="level-selection__subtitle">Proficient</span></label>
					</div>
				</div>
			</div>
			<div class="sprint-games__content">
				<img class="sprint-games__img" src="{{sprintGameBgImage}}" alt="sprint">
				<div class="sprint-games__controls">
					<h5 class="sprint-games__title">Спринт</h5>
					<img class="sprint-games__button" src="{{sprintGameActivationImage}}" alt="cheetah-button">
				</div>
			</div>
		</div>
		<div class="games__audio-call audio-call-games">
			<div class="audio-call-games__complexity complexity-menu complexity-menu_right">
				<div class="complexity-menu__trigger trigger">
					<svg class="trigger__icon" width="10" height="16" viewBox="0 0 10 16" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path d="M8 14L2 8L8 2" stroke="#18191F" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
					</svg>
					<div class="trigger__text">Выбери уровень</div>
				</div>
				<div class="complexity-menu__menu level-selection">
					<div class="level-selection__level a1">
						<input class="level-selection__input" type="radio" id="audio_A1" name="audio-call-level-input" checked>
						<label class="level-selection__label" for="audio_A1">A1 <span
								class="level-selection__subtitle">Beginner</span></label>
					</div>
					<div class="level-selection__level a2">
						<input class="level-selection__input" type="radio" id="audio_A2" name="audio-call-level-input">
						<label class="level-selection__label" for="audio_A2">A2 <span
								class="level-selection__subtitle">Elementary</span></label>
					</div>
					<div class="level-selection__level b1">
						<input class="level-selection__input" type="radio" id="audio_B1" name="audio-call-level-input">
						<label class="level-selection__label" for="audio_B1">B1 <span
								class="level-selection__subtitle">Intermediate</span></label>
					</div>
					<div class="level-selection__level b2">
						<input class="level-selection__input" type="radio" id="audio_B2" name="audio-call-level-input">
						<label class="level-selection__label" for="audio_B2">B2 <span
								class="level-selection__subtitle">Upper-Intermediate</span></label>
					</div>
					<div class="level-selection__level c1">
						<input class="level-selection__input" type="radio" id="audio_C1" name="audio-call-level-input">
						<label class="level-selection__label" for="audio_C1">C1 <span
								class="level-selection__subtitle">Advanced</span></label>
					</div>
					<div class="level-selection__level c2">
						<input class="level-selection__input" type="radio" id="audio_C2" name="audio-call-level-input">
						<label class="level-selection__label" for="audio_C2">C2 <span
								class="level-selection__subtitle">Proficient</span></label>
					</div>
				</div>
			</div>
			<div class="audio-call-games__content">
				<div class="audio-call-games__controls">
					<h5 class="audio-call-games__title">Аудиовызов</h5>
					<img class="audio-call-games__button" src="{{audioChallengeGameActivationImage}}" alt="headphones">
				</div>
				<img class="audio-call-games__img" src="{{audioChallengeGameBgImage}}" alt="female-listening">
			</div>
		</div>
	</div>
</main>