@import 'normalize';
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/*-----------------General styles-------------------*/
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

/*---------------Sprint-rules----------------------*/

.audio-challenge-rules {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url(../assets/back3.svg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 1;
	visibility: visible;

	&__area {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1.875rem 0.625rem;
	}

	&__content {
		background-color: #fff;
		color: black;
		max-width: 50rem;
		padding: 1.875rem;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		box-shadow: 0.0625rem 0.0625rem 0.625rem 0.0625rem #000;
		border: 0.125rem solid #18191F;
		box-shadow: 0 0.25rem 0 #18191F;
		border-radius: 1rem;
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0.625rem;
		font-size: 3rem;
		font-weight: 700;
		color: #000;
		text-decoration: none;
		transition: all 0.3s ease 0s;
	}

	&__close:hover {
		transform: scale(1.3);
		color: red;
	}

	&__title {
		font-size: 2rem;
	}

	&__text {
		font-size: 1.5rem;
		text-align: center;
	}
}

@media (max-width: 31.25em) {
	.audio-challenge-rules {

		&__content {
			max-width: 90vw;
			max-height: 90vh;
			overflow-x: hidden;
			overflow-y: auto;
		}

		&__title {
			font-size: 1.5rem;
			margin: 0.8rem 0;
		}

		&__text {
			font-size: 1.1rem;
			text-align: center;
		}
	}
}


/*----------------------Button styles--------------------*/
// https: www.youtube.com/watch?v=w00Z5y8jEjk

.wave-btn {
	width: 280px;
	height: 60px;
	display: flex;
	overflow: hidden;
	position: relative;
	transition: all 0.8s ease 0s;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 10px 10px;
	text-decoration: none;
}

.wave-btn:hover {
	border-radius: 10px;
	transition: all 0.8s ease 0.2s;
	box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}

.wave-btn:hover .wave-btn__waves {
	top: -50px;
}

.wave-btn__text {
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: relative;
	z-index: 1;
}

.wave-btn__waves {
	position: absolute;
	width: 280px;
	height: 280px;
	background-color: #4973ff;
	top: 0;
	left: 0;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);

	transition: all 0.8s ease 0s;
}

.wave-btn__waves:after,
.wave-btn__waves:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;
	transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves:before {
	background-color: #000;
	border-radius: 48%;
	animation: waves 5s infinite linear;
}

.wave-btn__waves:after {
	background-color: #ffffffff;
	border-radius: 44%;
	animation: waves 10s infinite linear;
}

@keyframes waves {
	0% {
		transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
	}

	100% {
		transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
	}
}

@-webkit-keyframes waves {
	0% {
		transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
	}

	100% {
		transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
	}
}

@-moz-keyframes waves {
	0% {
		transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
	}

	100% {
		transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
	}
}

@-o-keyframes waves {
	0% {
		transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
	}

	100% {
		transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
	}
}