<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/style.css">
	<title>Rules--audio-call</title>
</head>
<body>
	<header id="header"></header>
	<div class="wrapper">
		<div class="audio-call-rules">
			<a href="#header" class="audio-call-rules__area"></a>
      <div class="audio-call-rules__body">
				<div class="audio-call-rules__content">
					<a href="#spint-rules" class="audio-call-rules__close">&times;</a>
					<h4 class="audio-call-rules__title">Аудиовызов</h4>
					<p class="audio-call-rules__text">Выберите из предложенных вариантов ответа правильный перевод слова, который услышите</p>
					<a href="#" class="wave-btn">
						<span class="wave-btn__text">Начать</span>
						<span class="wave-btn__waves"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>