<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/style.css">
	<title>Team</title>
</head>

<body>
	<div class="wrapper">
		<header class="header">
			<h2>General header</h2>
		</header>
		<main class="team">
			<div class="team__container">
				<h2 class="team__header">О команде</h2>
				<div class="team__cards">
					<div class="team__card card-team">
						<img class="card-team__img" src="./assets/maksim_photo_multi.webp" alt="maksim_photo">
						<h4 class="card-team__name">Максим</h4>
						<a class="card-team__github github-card-team" href="https://github.com/freenokke">
							<img class="github-card-team__img" src="./assets/github.svg" alt="Github-img">
							<span>freenokke</span>
						</a>
						<h6 class="card-team__role">Тимлид, разработчик</h6>
						<ol class="card-team__result result-card-team">
							<li class="card-team-result__done">Главная страница</li>
							<li class="card-team-result__done">...</li>
							<li class="card-team-result__done">...</li>
							<li class="card-team-result__done">...</li>
							<li class="card-team-result__done">...</li>
						</ol>
					</div>
					<div class="team__card card-team">
						<img class="card-team__img" src="./assets/artem_photo_multi.webp" alt="artem_photo">
						<h4 class="card-team__name">Артем</h4>
						<a class="card-team__github github-card-team" href="https://github.com/spherical-horse">
							<img class="github-card-team__img" src="./assets/github.svg" alt="Github-img">
							<span>spherical-horse</span>
						</a>
						<h6 class="card-team__role">Разработчик</h6>
						<ol class="card-team__result result-card-team">
							<li class="card-team-result__done">Электронный учебник</li>
							<li class="card-team-result__done">...</li>
							<li class="card-team-result__done">...</li>
							<li class="card-team-result__done">...</li>
							<li class="card-team-result__done">...</li>
						</ol>
					</div>
					<div class="team__card card-team">
						<img class="card-team__img" src="./assets/jan_photo_multi.webp" alt="jan_photo">
						<h4 class="card-team__name">Ян</h4>
						<a class="card-team__github github-card-team" href="https://github.com/janChorny">
							<img class="github-card-team__img" src="./assets/github.svg" alt="Github-img">
							<span>janChorny</span>
						</a>
						<h6 class="card-team__role">Разработчик</h6>
						<ol class="card-team__result result-card-team">
							<li class="card-team-result__done">Страница "О команде"</li>
							<li class="card-team-result__done">...</li>
							<li class="card-team-result__done">...</li>
							<li class="card-team-result__done">...</li>
							<li class="card-team-result__done">...</li>
						</ol>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<h2>General footer</h2>
		</footer>
	</div>
</body>

</html>