<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/style.css">
	<title>Games-rules--sprint</title>
</head>

<body>
	<header id="header"></header>
	<div class="wrapper">
		<div class="sprint-rules">
			<a href="#header" class="sprint-rules__area"></a>
			<div class="sprint-rules__body">
				<div class="sprint-rules__content">
					<a href="#spint-rules" class="sprint-rules__close">&times;</a>
					<h4 class="sprint-rules__title">Спринт</h4>
					<p class="sprint-rules__text">Нужно выбрать, соответствует ли перевод предложенному слову</p>
					<a href="#" class="wave-btn">
						<span class="wave-btn__text">Начать</span>
						<span class="wave-btn__waves"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>