<footer class="footer">
  <div class="footer__content">
      <a href="https://rs.school/js/" class="footer__logo logo"><img src="{{rslogo}}" alt="logo"></a>
      <span class="footer__date">2022</span>
      <div class="footer__social-links social-links">
          <a href="https://github.com/janchorny" class="social-link">
            <img src="{{githublogo}}" alt="github" class="social-link__img">
            <span class="social-link__title">janchorny</span>
          </a>
          <a href="https://github.com/freenokke" class="social-link">
            <img src="{{githublogo}}" alt="github" class="social-link__img">
            <span class="social-link__title">freenokke</span>
          </a>
          <a href="https://github.com/spherical-horse" class="social-link">
            <img src="{{githublogo}}" alt="github" class="social-link__img">
            <span class="social-link__title">spherical-horse</span>
          </a>
      </div>
  </div>
</footer>