<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./normalise.css">
  <link rel="stylesheet" href="./sprint.css">
  <script src="https://kit.fontawesome.com/c757eb9657.js" crossorigin="anonymous"></script>
  <script defer src="./script.js"></script>
  <title>Sprint</title>
</head>
<body>
  <div class="fullscreen">
    <div class="fullscreen__icon">
      <i class="fa-solid fa-expand fa-xl"></i>
      <i style="display: none;" class="fa-solid fa-compress fa-xl"></i>
    </div>
    <div class="sprint">
      <div class="sprint-points">
        <h3 class="sprint-points__text">Текущий результат:</h3>
        <span class="sprint-points__count">1200</span>
      </div>
      <div class="sprint-gamearea">
        <div class="sprint-gamearea__game game">
          <div class="game__bonus bonus">Комбо</div>
          <div class="game__timer countdown">Время</div>
          <div class="game__combo combo">
            <div class="combo__item">
              <input type="checkbox" class="combo__checkbox" checked>
              <i class="fa-solid fa-star fa-lg"></i>
            </div>
            <div class="combo__item">
              <input type="checkbox" class="combo__checkbox" checked>
              <i class="fa-solid fa-star fa-lg"></i>
            </div>
            <div class="combo__item">
              <input type="checkbox" class="combo__checkbox">
              <i class="fa-solid fa-star fa-lg"></i>
            </div>
          </div>
          <div class="game__word-container">
            <div class="game__word">word</div>
            <div class="game__word-translate">word-translate</div>
          </div>
          <div class="game__buttons">
            <button class="false btn">Неверно</button>
            <button class="true btn">Верно</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>