@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

img, svg {
  display: block;
}

.btn {
  border: 2px solid #18191F;
  box-shadow: 0px 4px 0px #18191F;
  border-radius: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s all;
}
.btn:focus {
  transform: scale(0.95);
}

.fullscreen {
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.fullscreen__icon {
  position: absolute;
  display: block;
  padding: 10px;
  top: 20px;
  right: 20px;
  color: white;
  cursor: pointer;
}
.fullscreen__icon:hover::before {
  position: absolute;
  align-items: center;
  content: "Полноэкранный режим";
  font-weight: 400;
  font-size: 12px;
  padding: 5px;
  color: white;
  left: -160px;
  top: -15px;
  background-color: black;
  display: flex;
  transition: 0.2s all;
}

.sprint {
  width: 100%;
  height: 100vh;
  background-image: url(./img/back3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sprint-points {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 425px) {
  .sprint-points {
    flex-direction: column;
    padding: 10px;
  }
}
.sprint-points__text {
  font-weight: 800;
  font-size: 25px;
}
@media screen and (max-width: 425px) {
  .sprint-points__text {
    margin: 0;
  }
}
.sprint-points__count {
  font-weight: 800;
  font-size: 25px;
  color: #FFBD12;
}
.sprint-gamearea {
  background-color: rgba(157, 176, 204, 0.3);
  width: 80%;
  max-width: 700px;
  height: 400px;
  border: 2px solid #18191F;
  box-shadow: 0px 4px 0px #18191F;
  border-radius: 16px;
  padding: 15px;
}

.points {
  display: flex;
}

.game {
  justify-content: center;
  position: relative;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-weight: 600;
}
.game__timer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  font-weight: 700;
}
.game__bonus {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  color: #FFBD12;
  font-weight: 700;
}
.game__word-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: rgba(71, 74, 87, 0.5137254902);
  padding: 8px;
  border-radius: 12px;
}
.game__word {
  color: #ffffff;
}
.game__word-translate {
  color: #ffffff;
}
.game__buttons {
  display: flex;
  gap: 50px;
}
.game__buttons .false {
  background-color: #F95A2C;
}
.game__buttons .true {
  background-color: #00C6AE;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FFBD12;
}

.bonus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #474A57;
}

.combo {
  display: flex;
  gap: 20px;
}
.combo i {
  color: rgba(24, 25, 31, 0.4862745098);
}
.combo__checkbox {
  display: none;
}
.combo__checkbox:checked ~ i {
  color: #FFBD12;
}