<div class="fullscreen__icon">
	<i class="fa-solid fa-expand fa-xl"></i>
	<i class="fa-solid fa-compress fa-xl" hidden></i>
</div>
<div class="audiochallenge">
	<!-- <div class="audiochallenge-points">
		<h3 class="audiochallenge-points__text">Текущий результат:</h3>
		<span class="audiochallenge-points__count">1200</span>
	</div> -->
	<div class="audiochallenge-gamearea">
		<div class="audiochallenge-gamearea__game game">
			<!-- <div class="game__bonus bonus">Комбо</div>
			<div class="game__timer countdown">Время</div> -->
			<div class="game__combo combo"></div>
			<button class="game__play-button">
				<svg class="game__play-svg" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
					<path
						d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z">
					</path>
				</svg>
			</button>
			<div class="game__buttons game__buttons_audiochallenge">
			</div>
		</div>
	</div>
</div>
