<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/style.css">
	<title>Games</title>
</head>
<body>
	<div class="wrapper">
    <header class="header">
      <h2>General header</h2>
    </header>
    <main class="main">
			<div class="games">
				<div class="games__sprint sprint-games">
					<img class="sprint-games__img" src="./assets/sprint.jpg" alt="sprint">
					<div class="sprint-games__controls">
						<h5 class="sprint-games__title">Спринт</h5>
						<img class="sprint-games__button" src="./assets/cheetah-no-bg.png" alt="cheetah-button" >
					</div>
				</div>
				<div class="games__controls controls-games">
					<h2 class="controls-games__header">Сложность</h2>
					<h4 class="controls-games__description">Перед началом игры выберите уровень сложности</h4>
					<div class="controls-games__select-level">
						<input class="controls-games__select-level-input" type="radio" id="A1" name="game-input-A1" checked>
						<label class="controls-games__select-level-label" for="A1">A1 <span class="controls-games__select-level-subtitle">Beginner</span></label>
					</div>
					<div class="controls-games__select-level">
						<input class="controls-games__select-level-input" type="radio" id="A2" name="game-input-A2">
						<label class="controls-games__select-level-label" for="A2">A2 <span class="controls-games__select-level-subtitle">Elementary</span></label>
					</div>
					<div class="controls-games__select-level">
						<input class="controls-games__select-level-input" type="radio" id="B1" name="game-input-B1">
						<label class="controls-games__select-level-label" for="B1">B1 <span class="controls-games__select-level-subtitle">Intermediate</span></label>
					</div>
					<div class="controls-games__select-level">
						<input class="controls-games__select-level-input" type="radio" id="B2" name="game-input-B2">
						<label class="controls-games__select-level-label" for="B2">B2 <span class="controls-games__select-level-subtitle">Upper-Intermediate</span></label>
					</div>
					<div class="controls-games__select-level">
						<input class="controls-games__select-level-input" type="radio" id="C1" name="game-input-C1">
						<label class="controls-games__select-level-label" for="C1">C1 <span class="controls-games__select-level-subtitle">Advanced</span></label>
					</div>
					<div class="controls-games__select-level">
						<input class="controls-games__select-level-input" type="radio" id="C2" name="game-input-C2">
						<label class="controls-games__select-level-label" for="C2">C2 <span class="controls-games__select-level-subtitle">Proficient</span></label>
					</div>
				</div>
				<div class="games__audio-call audio-call-games">
					<div class="audio-call-games__controls">
						<h5 class="audio-call-games__title">Аудиовызов</h5>
						<img class="audio-call-games__button" src="./assets/headphones-no-bg.png" alt="headphones" >
					</div>
					<img class="audio-call-games__img" src="./assets/female-listening.jpg" alt="female-listening">
				</div>
			</div>
    </main>
    <footer class="footer">
      <h2>General footer</h2>
    </footer>
	</div>

</body>
</html>