<div id="/auth" class="auth">
  <a href="{{comeBackHash}}" class="auth__area"></a>
  <div class="auth__body">
    <div class="auth__content">
      <h4 class="auth__error-message"></h4>
      <a href="{{comeBackHash}}" class="auth__close">&times;</a>
      <div class="auth__title">Вход в аккаунт</div>
      <div class="auth__text">Для авторизированных пользователей доступны "Сложные слова", прогресс изучения слов, изученные слова и статистика</div>
      <form class="auth__form form-auth" id="form" action="#" method="post">
        <input class="form-auth__email" name="email" type="email" placeholder="Электронная почта" required autofocus autocomplete="off">
        <input class="form-auth__password" name="password" type="password" placeholder="Пароль" required minlength="5">
        <button class="form-auth__button" type="submit">Войти</button>
        <div class="form-auth__bottom">
          <div class="form-auth__forget-password">
            <a class="form-auth__forget-password-link" href="#/reg">Забыли пароль?</a>
          </div>
          <div class="form-auth__break">&#124;</div>
          <div class="form-auth__registration">
            <a class="form-auth__registration-link" href="#/reg">Регистрация</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="/reg" class="reg">
  <a href="{{comeBackHash}}" class="reg__area"></a>
  <div class="reg__body">
    <div class="reg__content">
      <h4 class="reg__error-message"></h4>
      <a href="{{comeBackHash}}" class="reg__close">&times;</a>
      <div class="reg__title">Регистрация</div>
      <div class="reg__text">Для авторизированных пользователей доступны "Сложные слова", прогресс изучения слов, изученные слова и статистика</div>
      <form class="reg__form form-reg" id="form-reg" action="#">
        <input class="form-reg__name" name="login" type="text" placeholder="Имя" required autofocus
          autocomplete="off">
        <input class="form-reg__email" name="email" type="email" placeholder="Электронная почта" required autocomplete="off">
        <input class="form-reg__password" name="password" type="password" placeholder="Пароль" required minlength="5">
        <button class="form-reg__button" type="submit">Зарегистрироваться</button>
        <div class="form-reg__bottom">
          <a class="form-reg__back-to-existing-account" href="#/auth">Войти в существующий аккаунт</a>
        </div>
      </form>
    </div>
  </div>
</div>