<div class="audio-challenge-rules">
  <a href="#header" class="audio-challenge-rules__area"></a>
  <div class="audio-challenge-rules__body">
    <div class="audio-challenge-rules__content">
      <a href="#spint-rules" class="audio-challenge-rules__close">&times;</a>
      <h4 class="audio-challenge-rules__title">{{gameName}}</h4>
      <p class="audio-challenge-rules__text">{{rules}}</p>
      <a href="{{hash}}" class="wave-btn">
        <span class="wave-btn__text">Начать</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
  </div>
</div>